.formContainer{
  margin-bottom: 100px;
}

.form {
  display: block;
  border: 2px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
}

.formInput {
  margin-left: 15px;
  margin-bottom: 15px;
}

.formButton {
  width: 200px;
  height: 20px;
}

.error {
  color: rgb(226, 112, 6);
  text-decoration: solid underline;
}